	/* CSS for About.html Template */

	#Barney table, th, td {
		border: 					1px solid black;
		border-collapse: 			collapse;
		table-layout: 			fixed;
		width: 					100%;
		line-height: 				2;
		width:					75%;
		padding:					10px;
	  }
	  
	  #Barney td {
		  text-align: 			center;
	  }
	  
	  #Barney aside {
		  float:					right;
		  width:					330px;
		  /*	background-color:	blue;	*/				/* Visualized section for easy testing */
		  height:					510px;
		  margin-right:			3%;						/* Margin aligns whole section */
	  }
	  
	  #Barney dd {
		  font-size:				150%;
		  line-height:			2;
	  }
	  
	  #Barney dt {
		  font-size:				200%;
		  font-family:			mincho;
	  }
	  
	  #Barney dl {
		  padding-left:			5%;						/* Padding aligns text in section */
		  padding-right:			5%;
	  }
	  
	  #Barney p {
		  font-size:				80%;
	  }
	  
	  #Barney .center {											/* Centering Images in aside */
		  /*	display: 			block;
			  margin-left: 		auto;
			  margin-right: 		auto;
			  margin-top:			115px;
			  width: 				auto;	*/				/* Manually adjusting picture, inconvenient */
			  
		  position:				relative;
		  top: 					50%;
		  left: 					50%;
		  transform: 				translate(-50%, -50%);	/* bring your own prefixes */
		  
		  /* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
	  }
	  
	  #Barney img {																			/* Image size */
		  /*	width:	300px;
			  height:	400px;	*/														/* Orginal Scale */
		  /*	width:	150px;
			  height:	200px;	*/														/* 1st Adjustment */
		  width:					270px;
		  height:					360px;
		  border-radius: 			25px;
		  border: 				2px solid #7068a4;									/* Coloring border */
	  }
	  
	  /*	span {
		  width: 					200px;
		  clear: 					left;
		  float: 					left;
		  text-align: 			right;
		  padding-right: 			2px;
	  }	*/
	  
	  #Barney .box {
		border-radius: 			25px;
		border: 					2px solid #7068a4;									/* Coloring border */
		padding: 					0px; 
		width: 					1600px;
		height: 					auto;
		display: 					block;
		margin-left: 				auto;
		margin-right: 			auto;
	  }
	  
		  /* CSS Link Hover Effect (Email)	https://css-tricks.com/css-link-hover-effects/	*/
	  
	  #Barney a {
		box-shadow: 				inset 0 0 0 0 #7068a4;								/* Replacing #54b3d6 */
		color: 					#7068a4;											/* Replacing #54b3d6 */
		margin: 					0 -.25rem;
		padding: 					0 .25rem;
		transition: 				color .5s ease-in-out, box-shadow .5s ease-in-out;	/* Replacing both 0.3s */
	  }
	  #Barney a:hover {
		box-shadow: 				inset 350px 0 0 0 #7068a4;							/* Replacing #54b3d6 */
		color: 					white;
	  }
	  
		  /* DucManh's CSS Reference */
		  
	  /* The header section starts */
	  
	  #header .logo { 
		  /* color: var(--main-color); */
		  color: white;
		  font-size: 36.8px;
		  text-decoration: none;
		  font-size: 150%;
	  }
	  
	  #header {
		  display: flex;
		  justify-items: center;
		  justify-content: space-between;
		  padding: 20px 80px;
		  /* background: #b8c0e4; */
		  background: #1A001A;
		  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
		  z-index: 999;
		  position: sticky;
		  top: 0;
		  left: 0;
	  }
	  
	  #navbar {
		  display: flex;
		  justify-content: center;
		  justify-items: center;
	  }
	  
	  #navbar li {
		  list-style: none;
		  padding: 0px 20px;
		  position: relative;
	  }
	  
	  #navbar li a {
		  text-decoration: none;
		  font-size: 16px;
		  font-weight: 600;
		  /* color: #16161D; */
		  /* color: #b8c0e4; */
		  color: white;
		  transition: 0.4s ease-in-out;
	  }
	  
	  #navbar li a:hover,
	  #navbar li a.active {
		  color: #7068a4;
		  opacity: 0.8;
	  }
	  
	  #navbar li a.active::after,
	  #navbar li a:hover::after {
		  content: "";
		  width: 30%;
		  height: 2px;
		  background: #7068a4;
		  position: absolute;
		  bottom: -2px;
		  left: 20px;
		  transition: 0.4s ease-out;
	  }
	  /* The header section ends */
	  
	  /* The footer section starts  */
	  footer {
		  padding: 40px 80px;
		  /* background-color: #b8c0e4; */
		  background-color: #1A001A;
		  /* color: #1A001A; */
		  color: #b8c0e4;
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: space-between;
	  }
	  
	  footer .logo { 
		  color: #fff;
		  font-size: 36.8px;
		  text-decoration: none;
		  font-size: 150%;
		  margin-bottom: 30px;
	  }
	  
	  footer .col {
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;
		  margin-bottom: 20px;
	  }
	  
	  footer h4 {
		  font-size: 22px;
		  padding-bottom: 20px;
		  color: #fff;
	  }
	  
	  footer .col li {
		  list-style: none;
		  margin-bottom: 10px;
	  }
	  
	  footer .col ol li a {
		  text-decoration: none;
		  font-size: 18px;
		  margin-bottom: 10px;
	  }
	  
	  footer p {
		  font-size: 19px;
		  margin: 0 0 0 8px 0;
	  }
	  
	  footer a {
		  font-size: 16px;
		  text-decoration: none;
		  color: #b8c0e4;
		  margin-bottom: 10px;
	  }
	  
	  footer a:hover {
		  color: #7068a4;
		  opacity: 0.8;
		  transition: 0.4s ease-in-out;
	  }
	  
	  footer .copyright {
		  width: 100%;
		  text-align: center;
	  }
	  /* The footer section ends  */