/* *{
    font-family: Montserrat;
} */

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: black;
}

h1 {
    border: 1px solid blue;
    text-align: center;
    padding: 1em auto;
    margin-top: 1em;
    font-family: sans-serif;
}

p {
    border: 1px solid blue;
    text-align: center;
    margin: 1em auto;
    width: 50vw;
    max-width: 620px;
    font-family: serif;
    font-size: large;
}

form {
    width: 80vw;
    max-width: 840px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0px 20px 30px 20px;
    border: 1px solid red;
}

fieldset {
    border: 1px solid blue;
    margin: 40px 0;
    padding: 10px;
    /* border: 0; */
}

legend {
    font-weight: bolder;
    letter-spacing: 1.2px;
    padding-bottom: 10px;
}

.form_line {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: space-between;
}

.box {
    width: calc(50% - 20px);
    /* border: 1px solid green; */
}

.main_label {
    font-size: x-small;
    letter-spacing: 2.5px;
    font-weight: bolder;
}

.main_label::after {
    content: "*";
    color: red;
  }

input[type='text'],
input[type='email'],
select {
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 60px;
    font-size: large;
    font-family: serif;
    font-weight: lighter;
    /* border: 1px solid black; */
}

input[type='text'],
input[type='email'],
select:focus {
    outline: none;
}

#radio_box {
    height: 60px;
    /* border: 1px solid black; */
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#radio_box::before {
    content: "";
}

#radio_box::after {
    content: "";
}

#radio_box label {
    font-family: serif;
}

#radio_box div {
    /* border: 1px solid orange; */
    /* width: 30% */
}

#checkbox_box {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: large;
}

#checkbox_box div {
    /*border: 1px solid orange;*/
    /* width: 23%; */
}

#checkbox_box::before {
    content: "";
}

#checkbox_box::after {
    content: "";
}

#checkbox_box label {
    font-family: serif;
}

#comment_label {
    font-size: x-small;
    letter-spacing: 1px;
    font-weight: bolder;
}

#comment_line {
    display: flex;
    align-items: top;
}

textarea {
    width: 100%;
    height: 120px;
    font-family: serif;
    font-size: large;
    margin: 10px 0 0 0;
    border: 1px solid lightgray;
}

#button_container {
    border: 1px solid orange;
    justify-content: center;
    display: flex;
}