/* temporary css for index.html */




* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #171717;
}

nav {
  width: 100%;
  float: right;  
  background-color: whitesmoke;
  position: sticky;
    top: 0px;
}

nav ul li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9em;
  font-weight: bold;

  list-style: none;
  float: right;
  
  width: 10%;

  text-align: center;
  padding: 20px 0;
  border: 0px solid black;
 
}

footer {
  padding-top: 30px;
  border: 1px solid aliceblue;
  background-color: azure;
}

section {
  margin: 0 10% 0 10%
}

.button-container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.logo {
  height: 25px;
  background-image: none;
  float: left;
}

#cover-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#intro-sentence {
  background-color: aqua;
}