/* temporary css for index.html */




* {
  margin: 0%;
  padding: 0%;
  font-family: Montserrat;
}

body {
  padding: 0%;
  margin: 0%;
  background-color: black;
}

h6 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

a {
  text-decoration: none;
  color: #171717;
}

#header .logo { 
  /* color: var(--main-color); */
  color: white;
  font-size: 36.8px;
  text-decoration: none;
  font-size: 150%;
}

#header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  /* background: #b8c0e4; */
  background: #1A001A;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  /* color: #16161D; */
  /* color: #b8c0e4; */
  color: white;
  transition: 0.4s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: #7068a4;
  opacity: 0.8;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #7068a4;
  position: absolute;
  bottom: -2px;
  left: 20px;
  transition: 0.4s ease-out;
}

.logo {
  height: 25px;
  background-image: none;
  float: left;
}


#ill1 {
  display: block;
  width: 100%;
  border: 1px solid black;
  width: 100%;
}

#section1 {
  background-color: blue;
  margin-bottom: 250px;
}

#hr1 {
  width: 5em;
}

#txt1 {
  margin: 0 10% 200px 10%;
  background-color: white;
  padding-bottom: 50px;
  position: absolute;
    top: 750px;
}

#title1 {
  margin: 3em;
  padding-left: 4em;
}

#desc1 {
  font-size: 2em;
  font-weight: 900;
  padding: 0 3.5em;
}

#section2 {
  width: 50%;
  background-color: black;
  position: relative;
  float: left;
  margin: 5em 0;
}

#title2 {
  margin: 2em 1em;
  padding-left: 3em;
  padding-right: 3em;
}

#txt2 {
  margin: 0 10% 200px 10%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
    top: 88%; 
  background-color: white;
  position: absolute;
}

#desc2 {
  font-size: 1.2em;
  font-weight: 900;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 30px;
}

#title2 h6 {
  font-size: 1.3em;
}

#hr2 {}

#ill2 {
  display: block;
  width: 90%;
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
}


#section3 {
  width: 50%;
  background-color: black;
  position: relative;
  float: left;
  margin: 5em 0;
}

#ill3 {
  display: block;
  width: 90%;
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
}

#txt3 {
  margin: 0 10% 200px 10%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
    top: 88%; 
  background-color: white;
  position: absolute;
}

#section4 {
  display: block;
  background-color: black;
  margin-bottom: 250px;
  margin-top: 750px;
  position: relative;
}

#ill4 {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellow;
}

#txt4 {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
    top: 87%;
}

#desc4 {
  font-size: 2em;
  font-weight: 900;
  padding: 1em 3.5em;  
}




footer {
  padding: 40px 80px;
  /* background-color: #b8c0e4; */
  background-color: rgb(109, 109, 255);
  /* color: #1A001A; */
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .logo { 
  color: #fff;
  font-size: 36.8px;
  text-decoration: none;
  font-size: 150%;
  margin-bottom: 30px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 22px;
  padding-bottom: 20px;
  color: #fff;
}

footer .col li {
  list-style: none;
  margin-bottom: 10px;
}

footer .col ol li a {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
}

footer p {
  font-size: 19px;
  margin: 0 0 0 8px 0;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

footer a:hover {
  color: #7068a4;
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

#zoom-opa-ef {
  display: inline-block;
}

#zoom-opa-ef:hover .watch {
  opacity: 100%;
}

.watch-outline {
  color: #fff;
  text-align: center;
  display: block;
  background-color: black;
  width: 20%;
  height: 20em;
  float: left;
  margin: 6em 0;
}

.watch-outline:hover {
}

.watch {
  display: block;
  margin: auto;
  padding-top: 2em;
  width: 90%;
  transition: 1.5s;
  opacity: 70%;
}

.watch:hover {
  width: 100%;
  margin: auto;
  padding-top: 0;
  opacity: 100%;
}